{% extends 'base.html' %}
{% block title %}{{ box.title }}: {% endblock %}
{% block content %}
<h1>
    {{ box.title }}
    {% if texts %}
        <small>({{ count }})</small>
    {% endif %}
    {% if box == 'inbox' %}
        <small><a href="{% url 'send' device %}">send a text<i class="i send"></i></a></small>
    {% endif %}
</h1>
{% if paging %}{{ paging }}{% endif %}
{% if sent_cnt or recd_cnt %}<p>
	{{ sent_cnt }} sent, 
	{{ recd_cnt }} received
{% endif %}

{% for m in texts %}
    {% ifchanged m.at|date:"j/n/y" %}
        <h3>{{ m.at|date:"j.n.'y" }}</h3>
    {% endifchanged %}
        <b>{{ m.at|date:"g:i a" }}</b> &nbsp; {{ m.no }}
        <div class="bubble {{ m.typ }}">
            {{ m.txt }}
        </div>
        <div class="bubble-meta">
            {% if m.no and device %}
                <a href="{% url 'reply' device m.no|slugify %}" title="reply">
                    <i class="i rep"></i></a>
            {% endif %}
            <a href="{% if from_db %}{% url 'rm' 'db' m.id %}{% else %}{% url 'rm' device m.id %}{% endif %}" title="trash">
                <i class="i bin"></i></a>
        </div>
{% empty %}
    <p>No messages.</p>
{% endfor %}

<p><b>Source:</b> {{ source }}
{% endblock %}
