{% extends 'base.html' %}
{% block title %}{{ title }}: {% endblock %}
{% block content %}
<h1>{{ title }}</h1>

{% for m in texts %}
    {% ifchanged m.at|date:"j/n/y" %}
        <h3>{{ m.at|date:"j.n.'y" }}</h3>
    {% endifchanged %}
    <p><a href="{% url 'rm' 'db' m.id %}">
        <i class="i bin"></i></a>
        {{ m.at|date:"G:i:s"|safe }}: {{ m.txt }}</p>
{% endfor %}
{% if texts %}<div class="ser sep-hr"></div>{% endif %}

<form action="#" method="post">
<table>
{{ form.as_table }}
</table>
<p><button type="submit">Save</button></p>
</form>
{% endblock %}