django          # web framework
gunicorn        # backend server
mysqlclient     # database layer
python-dateutil # Easter greetings
-e git://github.com/pyserial/pyserial.git#egg=pyserial
-e git://github.com/oozie/pyhumod.git#egg=pyhumod
